<div id="body">
  <div #message>
  </div>
  <form [formGroup]="userForm" *ngIf="userForm" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <mat-icon id="attach-file" (click)="input.onContainerClick($event)">attach_file</mat-icon><br>
    <mat-form-field style="display: none;">
      <ngx-mat-file-input #input formControlName="avatar" (change)="onFileChange($event)" [accept]="'*/*'" required>
      </ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
    <button mat-icon-button (click)="onSubmit()" [disabled]="!isFileExist">
      <mat-icon>send</mat-icon>
    </button>
  </form>

  <!-- <button (click)="downloadMyFile()">download File</button> -->

  <div>
    {{fileMessage}}
  </div>

</div>
